html, body{
    margin: 0;
}
body{
    background-color: #d0a8a0bd;
}
/* HEADER */

header{
    width: 100%;
    display: table;
    position: fixed;
    z-index: 10;
    background: #946B63;   
}
header #logo{
    position: relative;
    float: left;
    top:2px;
    margin-left: 3% ;
}


/* iamgem fundo, titulo */
figure{
    margin: 0;
}

figure .imagem_fundo{
    background: url(img/imagem-fundo/capa-1.jpg);
    background-size: cover;
    height: 70%;
    padding: 100px;
}
figure .titulo{
    color: white;
    line-height: 0.9%;
    text-shadow: 1px 1px black;
}
figure h1.titulo{
    font-size: 60px;
    margin: 15% 5% 0% 6%;
}
figure h2.titulo{
    padding-top: 20px;
    font-size: 30px;
    margin: 3% 30% 0 30%;
    border-top: 2px solid white;
}
#cx1{
    border: 1px solid white;
    color: white;
    border-radius: 9px;
    font-size: 22px;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    position: relative;
    top: 40px;
    
}

/* DIVISÃO DOS CONTEUDOS */

section{
    
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 5px 20px 0;
    position: relative;
    display: table;
}
section hr{
    width: 20%;
    margin: 20px;
    margin-left: 40%;
}

.centro{
    
    text-align:center;
}

h1{
    text-align:center;
    font-size: 30px;
    padding: 1px;
}
.cor{
    background-color: #4734309f;
}

.divisao{
    float:left;
    padding: 0 5%;
    position:relative;
}
.divisao.dois{ 
    width:40%
}
.ajuste{
    text-align:justify;
    padding: 5px;
    margin: 3px;
}
/* METAS */
.divisao.tres{
    width:15%;
    padding: 0 5% 0 5%;
}
.divisao .icone{
    border-radius:50%;
    height: 95px;
    width: 95px;
    text-align:center;
    margin: 0 auto;   
}
.divisao .icone img{
    max-width: 60%;
    max-height: 60%;
    margin: 15px;
}
.divisao:hover > .icone{
    background: #C79085
}
/* INFORMAÇÕES */

.divisao.quatro{
    width: 29%;
    padding: 0 2%;

}
.link{
    color: black;
    text-decoration:initial;
}
.divisao img{
    width:auto;
    height: 50%;
    
}
#img1{
    position:relative;
    left:10px;
}
#img2{
    position: relative;
    padding: 0 0 0 70px;
    left: auto;
}
#img3{
    position: relative;
    padding: 0 0 0 40px;
    left: auto;
}

/* Sobre Mim */

#ajuste{
    width: 300px;
    height: 50%
}
#ajuste{
    width: 200px;
    height:20%;
}
/* FOOTER */
footer{
    background:#946B63 ;
    width: 100%;
    height:30%;
    margin: 30px auto;
    overflow: hidden;
    padding:30px 0 50px 0;
    color: black;
}
.correcao{
    text-align: left;
}
/* MENU HAMBURGUER */
*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}

nav{
    width:auto;
}
nav ul { 
    display:table; 
    list-style: none;
    margin-top: 33px;
    margin-right: 5%;
    float:right;
  }
  nav ul li {
    float:left;
  }
  nav ul li:last-child { 
    padding-right:0px;
  }
  nav ul li a {
    color: #000000;
    font-size: 18px;
    padding: 5px 30px;
    display: inline-block;
  }
  nav ul li a:hover {
    background-color:473F3D; 
    color:white; 
    font-size: 23px;
    border-radius: 18px;
  }
  
  .toggle-menu ul {
    display:table; 
    width:25px;
    margin-right: 40px;
  }
  .toggle-menu ul li {
      width:100%; 
      height:3px; 
      background-color:#473F3D; 
      margin-bottom:4px;
      margin-right: 5%;
  }
  .toggle-menu ul li:last-child {
    margin-bottom:0px;
  }
  
  input[type=checkbox], label{display:none;}
  
  .content{display:table; margin-bottom:60px; width:900px;}
  .content h2{font-size:18px; font-weight:500; color:#002e5b; border-bottom:1px solid #fde428; display:table; padding-bottom:10px; margin-bottom:10px;}
  .content p{font-size:14px; line-height:22px; color:#7c7c7c; text-align:justify;}

/* RESPONSIVIDADE */
@media all and (max-width: 768px){
    
    .divisao, .divisao.dois, .divisao.tres, .divisao.quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    header #logo{
        position: relative;
        float: left;
        top: 0px;
        height: 5px;
        margin-left: 45%;
        left:auto;
    }
   
    figure .imagem_fundo{
        height:auto;

    }
    figure h1.titulo{
        font-size: 20px;
        margin: 0 3% 0 2%;
        
        
    }
    figure h2.titulo{
       visibility: hidden;

    }
    #logo-r{

        width:50%;
    }
    input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
    input[type=checkbox]:fous{background:none;}
    label { 
    float:right; 
    padding:13px 0px; 
    display:inline-block; 
    cursor:pointer; 
    }
    input[type=checkbox]:checked ~ nav {display:block;}

    nav {
        display:none; 
        position:absolute; 
        right:1px; 
        top:50px; 
        background-color:#473F3D ; 
        padding:0px; 
        z-index:99;
    }    
    nav ul{width:auto;}
    nav ul li{float:none; padding:0px; width:100%; display:table;}
    nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
    nav ul li a i{color:#fde428; padding-right:13px;}

    nav ul li a:hover {
        background-color:#d0a8a0bd;
        border: 3px 6px 3px 6px;
         font-size: 15px;
         color:#f1f1f1; 
}
#ajuste{
    width: auto;
    height: 20%;
    position: relative;
    left: 100px;
}

#ajuste-2{
    position: relative;
    top:5px;
}
.correcao{
    text-align:center;
}

}
