html, body{
    background: #2F3034;
     font-family: 'Poppins', sans-serif;
}
.sec1{
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
}
#title{
    position: absolute;
    width: 103px;
    height: 27px;
    left: 300px;
    top: 50px;
    /* tamanho */
    font-size: 18px;
    line-height: 27px;
    /* Color */
    color: #FFFFFF;
}