
 html, body{

    margin: 0;
 }
 
 body{ 

     background-color: rgba(252, 225, 199, 0.226); 
       
 }
header{

   background-color: rgb(255, 229, 190);
   color: white;
   /* altura */
   height: 60px;
   width: 100%;
   position: fixed;
   z-index: 10;
}

#logo{

    width: 250px;
    position: relative;
    bottom: 90px;
}
li{

   float: left;
    padding: 10px;
    position: relative;
    bottom: 265px;
    font-size: 20px;
    
}

li:hover{

   background-color: rgb(136, 136, 167);
   border-radius: 3px 6px 3px 6px;
}

#menu{

   float: right;
   margin-right: 5%;
   list-style: none;
   
   
}


 #fundo{
    /* Fundo */
    background: url("imagem/icon/imagem/imagens-fundos/imagem_fundo.jpg");
    background-size: cover;
    height: 350px;
    padding: 1px;
    /* centralizar */
    text-align: center;
 }


 .centro{

    position: relative;
    top: 50px;
 }

 #titulo{

    color: whitesmoke;
    /* tamanho da fonte */
    font-size: 40px;
    /* efeito*/
    text-shadow: 1px 1px black;
    /* estilo da letra */
    font-family: monospace;
 }

 #frase{

    color: rgb(251, 253, 253);
    /* tamanho da fonte*/
    font-size: 25px;
    /* fonte maiuscula*/
    text-transform: uppercase;
    /* efeito */
    text-shadow: 1px 1px black;
   
 }

 
 #executar{

    color: white;
    border: 1px white solid;
    padding: 6px;
    /* decoração */
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 80px;
    /* tamanho da fonte */
    font-size: 28px;
    /* estilo da letra */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .centralizar{

   text-align: center;
 }
#tamanho{

   font-size: 30px;
   text-transform: uppercase;
}
.organizacao{

   text-align: justify;
}

section{

   padding: 10px;
   float: left;
   width: 100%;
}

 .fundo_cor{

   background-color:  rgba(155, 155, 155, 0.137);

 }
 /* parte do tamanho dos icones */

 .icones{

   width: 90px;
 }

 .tamanho_imagem{
    width: 50%;
    height: 100%;
 }
 /* Link da paginas */

.link{
/* decoração */
   color: black;
   border: 1px black solid;
   text-decoration: none;
   margin: 10px;
   padding: 5px;
 /* Tamanho da fonte */
   font-size: 18px;
   /* organização */
   position: relative;
   left: 70px;
}

.divisao{

   float: left;
   padding: 0 5%;
   position: relative;
   width: 40%;
}

.divisao_dois{

   float: left;
   padding: 0 5%;
   position: relative;
   width: 15%;
}
.divisao_tres{

   float: left;
   padding: 0 1%;
   position: relative;
   left: 140px;
   width: 47%;

}
#ajusteH4{

   position: relative;
   font-size: 20px;
}

#ajusteH4_1{

   position: relative;
   left: 10px;
   font-size: 20px;
}
#H5{

   font-size: 30px;
   font-family: cursive;
}
#H6{

   font-size: 20px;
}
#correcao{

   position: relative;
   top: 8px;
}

/* rodapé */

footer{

   background-color: rgb(253, 242, 196);
   float: left;
    width: 100%;
    height: 30%;
    color: black;
}
.rodape{

   float: left;
   position: relative;
   left: 10px;

}

#creditos{

position: relative;
left: 50px;
}
.F0{

   font-size: 20px;
}

@media all and (max-width: 768px){

   #menu {
      visibility: hidden;
   }
   .divisao, .divisao_dois, .divisao_tres{
      display: block;
      width: 80%;
      padding: 0;
      margin: 10px auto;
      float: none;
   }
   #logoDiv{
      width: 100%;
      position: relative;
      text-align: center;
      transform: translateX(1%);
   }
}
#a{
   color: rgb(15, 19, 22);
   text-decoration: none;
   
}